.callToAction a.btn-lg{
  font-size: 2em;
}

@media (min-width: 768px) {
  .callToAction {
    text-align: center;
    margin-top: 2em;
  }
}
.question-block{
  margin-top: 100px;
  margin-bottom: 100px;
}
.question-block legend,
.question-block button {
  margin-bottom: 25px;
}
#thumbnails-info {
  margin-top: 5em;
}
#thumbnails-info img {
  display: inline-block;
  max-width: 200px;
}